<!--
    载入静态文件
-->
{% load static %}

<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">

<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <!-- 预留网站标题的位置 -->
    <title>{% block title %}{% endblock %}</title>
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css">
    <!-- 引入monikai.css -->
    <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}" type="text/css">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/css/all.min.css"
             type="text/css"
    >
</head>

<body>
<!-- 引入导航栏 -->
{% include 'header.html' %}
<!-- 预留具体页面的位置 -->
{#    {% block leftside %}#}
{#        {% include "blog/_lside.html" %}#}
{#    {% endblock %}#}
{% block content %}{% endblock content %}

<!-- 引入注脚 -->
{% include 'footer.html' %}
<!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
<script src="{% static 'jquery/jquery-3.7.1.min.js' %}" type="text/javascript"></script>
<!-- 在jquery后面引入 -->
{% include 'back_to_top_func.html' %}

<script>
    $('div#article_body table').addClass('table table-bordered');
    $('div#article_body thead').addClass('thead-light');
</script>
<!-- 引入layer.js -->
<script src="{% static 'layer/layui.js' %}" type="text/javascript"></script>
<!--
    popper.js 采用 cdn 远程引入，意思是你不需要把它下载到本地。
    在实际的开发中推荐静态文件尽量都使用 cdn 的形式。
    教程采用本地引入是为了让读者了解静态文件本地部署的流程。
-->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1-lts/dist/umd/popper.min.js" type="text/javascript"></script>

<!-- 引入bootstrap的js文件 -->
<script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
<!-- 新增代码 -->
{% block script %}{% endblock script %}
</body>

</html>